/* Fonts */
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
      url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
      url('./fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #00BAFC;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  border-radius: 5px;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.section-text {
  line-height: 24px;
  margin: 16px 0; 
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
